<div class="homepage-header">
  <div class='homepage-image'>
    <img src='https://res.cloudinary.com/dmfwnwgce/image/upload/v1639658967/doggo/home-page-logo_v6vbf2.png' alt=''>
  </div>

  <hr class='divider'>
  <div class='btn-home'>
    <a href="#homepage-subtitle", class='btn btn-works'>How it works?</a>
  </div>
</div>

<div class="homepage-how">
  <div id='homepage-subtitle', class='container'>
    <h2 class='title'>Why DOGTOR?</h2>
    <p class='app-description'>DOGTOR is yours and more importantly: your dog's friend!</p>
  </div>

  <div class='container'>
    <div class='cards'>
      <div class='card'>
        <img src='https://res.cloudinary.com/dmfwnwgce/image/upload/v1639674535/doggo/dog-details_wzhaxw.png' alt='pet details'>
        <h2 class='card-title'>Carefully fill in your pet details</h2>
        <p class='description'>All that <strong>DOGTOR</strong> needs to check-up on your dog is its breed, height and weight.</p>
      </div>
      <div class='card'>
        <img src='https://res.cloudinary.com/dmfwnwgce/image/upload/v1639674453/doggo/dog-health_bvgsvi.png' alt='fun'>
        <h2 class='card-title'>Find out if your pet is healthy</h2>
        <p class='description'><strong>DOGTOR</strong> will determine if your dog is underweight, overweight or at a healthy weight.</p>
      </div>
      <div class='card'>
        <img src='https://res.cloudinary.com/dmfwnwgce/image/upload/v1639668874/doggo/dog-info_wbbm12.png' alt='cocktail'>
        <h2 class='card-title'>Get advice for your pet</h2>
        <p class='description'><strong>DOGTOR</strong> will suggest the right path you should take for guaranteeing your dog's well-being</p>
      </div>
    </div>
  </div>
</div>

<hr class='divider'>
<div class='btn-home'>
  <a href="#homepage-subtitle", class='btn btn-start'>Get started</a>
</div>
<br>
<br>
<br>
<br>
<br>
