  <div class='home-page-header'>
    <img src='https://res.cloudinary.com/dmfwnwgce/image/upload/v1639658967/doggo/home-page-logo_v6vbf2.png' alt=''>
  </div>

<%# <hr class='divider'> %>
  <div class="btn-home">
    <%= submit_tag "Get started", class: "btn btn-start" %>
  </div>
<%# <hr class='divider'> %>
